include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include docs/README.rst

include *.txt
include *.yml
include .bumpversion.cfg

recursive-include tests *
include asamint/data/dtds/*
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include asamint *.g4
recursive-include asamint *.tmpl

recursive-include docs *.rst *.jpg *.png *.gif
